<!DOCTYPE html>
<html>
<head>
    <title>Add a student to all bootcamp courses</title>
</head>
<body>
    <h1>Add a new course</h1>
    <form action="/courses/create" method="post">
        {% csrf_token %}
        Name: <input type="text" name="name"><br>
        Description: <br><textarea name="desc"></textarea><br>
        <input type="submit" value="Add">
    </form>
    <h1>Courses</h1>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
        {%for course in course_data%}
            <tr>
                <td>{{course.name}}</td>
                <td>{{course.desc}}</td>
                <td>{{course.created_at}}</td>
                <td><a href="/courses/destroy/{{ course.id }}">Remove</a></td>
            </tr>
        {%endfor%}
    </table>
</body>
</html>